//navvar
//nav var borowed from bootstrap
doctype html
html
	head
		title= title
		link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.0/css/bootstrap.min.css")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
		script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js')

	body
		// Navigation Bar with required
		nav.navbar.navbar-dark.bg-primary.navbar-expand-lg
			div.container-fluid
				div.navbar-header
					a.navbar-brand(href='/') Laptopsaler Web App
				ul.nav.navbar-nav
					if isLogin
						li.nav-item
							a.nav-link(href='/logout') Logout
							
					else
						li.nav-item
							a.nav-link(href='/login') Login
						li.nav-item
							a.nav-link(href='/register') Register
						li.nav-item
							a.nav-link(href='/users') Our Valubale Members
	div
		br
