extends layout

block content
  .title
   
    h1 Buy and Sellold laptops
    //imagr for home page look
    <img src="https://www.laptopswala.com/wp-content/uploads/2020/07/sell-old-laptop-online.jpg" alt="man with a laptop" style="width:400px;height:500px;">
    button
      a(href= '/sell') Sell them now!! 
      //button for seller page
      br
    button
      a(href='/') Buy a Laptop!
      //button for buyer page