extends layout

block content
  if (users.length)
    table
        each registeredUser in users
            tr
                td= registeredUser.username
  else
    h1 soory we could not found any user by this name

    /* this will check if in mongodb if users exists or not */